.listHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.created span:nth-child(1) {
  color: var(--blue);
}

.created > span + span {
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  width: 115px;
  height: 19px;
  border-radius: 20px;
  margin-left: 0.5rem;
}

.finished span:nth-child(1) {
  color: var(--purple);
}

.finished > span + span {
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  width: 115px;
  height: 19px;
  border-radius: 20px;
  margin-left: 0.5rem;
}
